.views_jqfx_cycle_no_display,
.views_jqfx_cycle_hidden,
.views_jqfx_cycle_controls,
.views_jqfx_cycle_image_count {
  display: none;
}

/* Pager Settings */

.view-cycle .views-field-title {
  font-size: 18px;
}

.views_jqfx_cycle_pager div a img {
  width: 100px;
  height: 66px;
}

.views_jqfx_pager_numbered div, .views_jqfx_pager_thumbnails div {
  display: inline;
  padding-left: 10px;
}

.views_jqfx_cycle_pager.thumbnails a.activeSlide img {
  border: 3px solid #000;
}

.views_jqfx_cycle_pager.numbered a.activeSlide {
  text-decoration: underline;
}
